* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: "Sen", sans-serif;
}

.title {
  font-family: "MuseoCyrl-900", serif;
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-hero {
  background-image: url(../img/Group107.jpg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center;
  height: 900px;
  color: #fff;
  margin-bottom: 144px;
}

.navbar-link-burger {
  display: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.f-logo {
  margin-left: 72px;
}

.navbar-items {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 476px;
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
  align-items: center;
  list-style: none;
}

.navbar-link-contact {
  background: #5221E6;
  padding: 32px 24px;
  color: #fff;
  text-decoration: none;
}

.intro {
  margin-top: 221px;
  margin-bottom: 225px;
}
.intro-title-1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 78px;
  line-height: 94px;
}
.intro-title-2 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.intro-items_part1 {
  margin-left: 662px;
  font-family: "Sen";
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.Italy {
  color: rgba(255, 255, 255, 0.5);
}

.Work_experience {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #8491A0;
  margin-left: 72px;
}

.intro-items_part2-text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 40px;
  margin-right: 678px;
  margin-left: 72px;
}

.container_we {
  width: 1278px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 72px;
}

.card {
  width: 355px;
  height: 247px;
}

.google {
  color: #3CC74E;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}

.soc_network {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.facebook {
  color: #609BFF;
  font-weight: 700;
  font-size: 24px;
}

.dribble {
  color: #E95D90;
  font-weight: 700;
  font-size: 24px;
}

.work-experiense_text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8491A0;
}

.work-experiense_text-3 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8491A0;
}

.skillset-name {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #fff;
  margin-top: 120px;
  margin-left: 72px;
}

.skillset_text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 24px;
  color: #8491A0;
  width: 368px;
}

.skill-header {
  padding-top: 24px;
  padding-bottom: 12px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.skill-text {
  color: #8491A0;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.skillset__container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 82px;
}

.notacontainer_skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  width: 368px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.epic {
  margin-bottom: 120px;
}

.a-place-for-mom, .M {
  display: none;
}

.dribbble-section {
  margin-left: 182px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.dribbble-header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
  width: 230px;
  height: 66px;
  margin-bottom: 24px;
  margin-left: 182px;
}

.dribbble-text {
  width: 636px;
  height: 54px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8491A0;
  margin-bottom: 40px;
  margin-left: 182px;
}

.dribbble-btn {
  width: 171px;
  height: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 182px;
}

.line-3 {
  border: 1px solid #8491A0;
  width: 171px;
  margin-left: 182px;
  margin-bottom: 120px;
}

.dribbble-img {
  padding-top: 120px;
  width: 1076px;
  height: 676px;
  border-radius: 0px 0px 8px 8px;
  margin-left: 182px;
}

.finish__container {
  width: 1440px;
  height: 731px;
  display: flex;
}

.finish-header {
  width: 526px;
  height: 66px;
  margin-left: 182px;
  margin-top: 120px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
}

.finish-text {
  width: 526px;
  height: 54px;
  margin-left: 182px;
  margin-top: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8491A0;
}

.finish-left {
  width: 526px;
  height: 144px;
}

.subscribe-text {
  width: 526px;
  height: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.subscribe__container {
  width: 526px;
  height: 491px;
  margin-left: 732px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

.subscribe {
  width: 526px;
  height: 82px;
  padding-bottom: 40px;
}

.luv {
  background-color: rgb(24, 24, 35);
  outline: none;
  border: none;
  width: 526px;
  height: 50px;
}

#message {
  width: 526px;
  height: 100px;
  background-color: rgb(24, 24, 35);
  outline: none;
  border: none;
}

.start {
  width: 526px;
  height: 75px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  background: #5221E6;
  align-self: center;
  padding: 24px 177px;
  margin-top: 64px;
}

.container-footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color: #181823;
}

.logo-img {
  margin-top: 80px;
}

.footer-soc-network {
  width: 104px;
  height: 24px;
  padding-top: 37px;
}

.soc-network-img-t, .soc-network-img-b {
  padding-right: 16px;
}

.footer-grey-text {
  width: 426px;
  height: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #8491A0;
  padding-top: 145px;
  margin-bottom: 80px;
}

.nav-list {
  width: 196px;
  height: 48px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.right-text {
  width: 196px;
  height: 48px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.footer-right {
  width: 224px;
  display: flex;
  margin-top: 80px;
}

.container-plane {
  height: 600px;
  background: #FBE4FF;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.plane-header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #181823;
  width: 285px;
  height: 66px;
  margin-top: 120px;
  margin-bottom: 24px;
  margin-left: 72px;
  margin-right: 363px;
}

.plane-text {
  width: 576px;
  height: 108px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #5B6876;
  margin-left: 72px;
  margin-right: 72px;
}

.follow-me {
  width: 125px;
  height: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #181823;
  margin-top: 134px;
  padding-bottom: 4px;
  margin-left: 72px;
}

.line-2 {
  border: 1px solid #8491A0;
  width: 125px;
  margin-left: 72px;
}

.plane {
  width: 720px;
  height: 600px;
}

.plane-left {
  margin-left: 72px;
}

.little-header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #8491A0;
  margin-top: 120px;
  margin-left: 72px;
}

.big-header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
  margin-left: 72px;
  width: 572px;
  height: 132px;
}

.epic {
  display: flex;
  justify-content: space-around;
}

.card-CBRE, .card-EPIQ, .card-WTF, .card-LEAF {
  width: 340px;
  height: 140px;
  border: 1px solid #181823;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 32px;
  padding-bottom: 13px;
}

.grey-text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8491A0;
  padding-left: 32px;
  padding-right: 32px;
}

.projects__container {
  max-width: 1440px;
  height: 2215px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-project {
  width: 636px;
  height: 830px;
  background: #181823;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.pics {
  width: 636px;
  height: 620px;
}

.left-side {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
  margin-left: 72px;
  height: 2012px;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: 1850px;
}

.rest-projects {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #000;
  border: 1px solid #5221E6;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 247px;
  height: 75px;
  align-self: center;
}

.photography__container {
  width: 1440px;
  height: 959px;
  margin: auto;
  display: block;
}

.photography-header {
  width: 588px;
  height: 66px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 24px;
  margin-left: 72px;
  color: #FFFFFF;
}

.photography-notaheader {
  width: 588px;
  height: 54px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 64px;
  margin-left: 72px;
  color: #8491A0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.countries-rosie {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid #5221E6;
  padding: 12px 22px;
  margin-right: 24px;
  margin-bottom: 52px;
  width: 148px;
  height: 51px;
}

.countries-india {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid #5221E6;
  padding: 12px 44px;
  margin-right: 24px;
  margin-bottom: 52px;
  width: 148px;
  height: 51px;
}

.countries-brazil {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  border: 1px solid #5221E6;
  padding: 12px 39px;
  margin-right: 24px;
  margin-bottom: 52px;
  width: 148px;
  height: 51px;
}

.countries-italy {
  background-color: #5221E6;
  border: 1px solid #5221E6;
  padding: 12px 46px;
  width: 148px;
  height: 51px;
  margin-right: 24px;
  margin-bottom: 52px;
  margin-left: 72px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.jisoo {
  padding-right: 24px;
  margin-left: 72px;
}

.jennie, .rosie, .lisa {
  padding-right: 24px;
}

.review_container {
  width: 1440px;
  height: 2722px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-review-1, .card-review-2, .card-review-3 {
  width: 636px;
  height: 755px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #5B6876;
}

.review-img {
  width: 636px;
  height: 360px;
}

.review-header {
  width: 588px;
  height: 132px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.review-text {
  width: 588px;
  height: 54px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #8491A0;
  margin-bottom: 40px;
}

.review-btn {
  width: 146px;
  height: 24px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.line-4 {
  border: 1px solid #8491A0;
  width: 146px;
}

.review-card-text-1, .review-card-text-2, .review-card-text-3 {
  width: 508px;
  height: 180px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.name {
  width: 508px;
  height: 27px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #5B6876;
}

.company {
  width: 508px;
  height: 27px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #5B6876;
}

.review-left {
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  margin-top: 120px;
  padding-right: 24px;
}

.review-right {
  width: 636px;
  height: 2482px;
  display: flex;
  flex-direction: column;
  margin-left: 732px;
  margin-top: -440px;
}

.text {
  padding: 64px;
}

.sakura-container {
  height: 600px;
  background-color: #FFF3E4;
  margin: auto;
  display: flex;
  margin-bottom: 124px;
}

.sakura__left {
  margin-left: 72px;
}

.sakura_header {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 66px;
  margin-top: 120px;
}

.sakura-text {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #5B6876;
  margin-right: 72px;
  margin-top: 24px;
  margin-bottom: 282px;
}

.more_about_me {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.pretty {
  width: 720px;
  height: 600px;
}

.line {
  border: 1px solid #8491A0;
  width: 116px;
}

@media (max-width: 1600px) {
  /* these styles are till 1600 */
  .container-footer {
    max-width: 1300px;
  }
  .subscribe__container {
    margin-left: 500px;
  }
  .container-plane {
    max-width: 1600px;
  }
}
@media (max-width: 1440px) {
  .intro-title-1 {
    font-size: 65px;
    line-height: 90px;
  }
  .intro-title-2 {
    font-size: 16px;
  }
  .sakura-text {
    margin-bottom: 215px;
  }
  .dribbble-section {
    margin-left: 72px;
  }
  .review-header {
    font-size: 50px;
  }
  .review-right {
    margin-left: 760px;
  }
  .card-review {
    width: 590px;
  }
  .review-img {
    width: 636px;
  }
  .text {
    padding: 50px;
  }
  .finish-header {
    font-size: 50px;
  }
  .subscribe__container {
    margin-left: 360px;
  }
  .container-footer {
    max-width: 1160px;
  }
  .container-plane {
    max-width: 1440px;
  }
}
@media (max-width: 1300px) {
  .container_we {
    width: 1195px;
  }
  .sakura-text {
    margin-bottom: 155px;
  }
  .skillset__container {
    max-width: 1245px;
  }
  .skill {
    width: 333px;
  }
  .epic {
    margin-bottom: 0px;
  }
  .projects__container {
    height: 3870px;
  }
  .left-side, .right-side {
    margin-left: 280px;
  }
  .card-project, .pics {
    width: 660px;
  }
  .little-header, .big-header {
    margin-left: -2px;
  }
  .rest-projects {
    display: none;
  }
  .plane-left {
    margin-left: 50px;
  }
  .dribbble-section {
    margin-left: -10px;
  }
  .review-header, .review-text {
    width: 470px;
  }
  .review-right {
    margin-left: 620px;
  }
  .photography__container {
    margin-left: 330px;
    width: 965px;
    height: 1323px;
  }
  .jisoo, .jennie {
    padding-bottom: 24px;
  }
  .rosie {
    margin-left: 72px;
  }
  .finish-left {
    width: 380px;
  }
  .finish-header, .finish-text {
    margin-left: 182px;
  }
  .container-footer {
    max-width: 970px;
  }
  .container-plane {
    max-width: 1300px;
  }
}
@media (max-width: 1200px) {
  .intro-title-1 {
    font-size: 62px;
    margin-left: -9px;
    margin-top: -25px;
  }
  .intro-title-2 {
    margin-left: -9px;
  }
  .intro-items_part2-text {
    font-size: 52px;
  }
  .container_we {
    width: 1085px;
  }
  .soc_network, .google, .facebook, .dribble {
    font-size: 22px;
  }
  .card {
    width: 345px;
  }
  .sakura-container {
    height: 600px;
  }
  .sakura_header {
    font-size: 52px;
  }
  .sakura-text {
    margin-bottom: 105px;
    margin-top: 20px;
    font-size: 16px;
  }
  .pretty {
    width: 630px;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .skillset__container {
    display: block;
  }
  .skillset_text {
    margin-left: 73px;
    margin-right: 72px;
    margin-top: 24px;
    width: 770px;
  }
  .flexbox_skillset {
    display: flex;
    margin-left: 72px;
  }
  .skill {
    margin-top: 48px;
    width: 521px;
    height: 176px;
  }
  .skill-text {
    width: 284px;
  }
  .rest-projects {
    display: none;
  }
  .my-projects {
    width: 768px;
    height: 3868px;
  }
  .left-side {
    margin-left: 70px;
    height: 2100px;
  }
  .right-side {
    margin-left: 70px;
    height: 1745px;
  }
  .card-project {
    width: 660px;
    margin-bottom: 24px;
  }
  .dribbble-section {
    margin-left: -85px;
  }
  .little-header {
    margin-left: 0px;
  }
  .big-header {
    margin-bottom: 80px;
  }
  .finish-text {
    width: 375px;
    margin-left: 125px;
  }
  .review-right {
    margin-left: 550px;
  }
  .card-review {
    width: 636px;
  }
  .review-img {
    width: 636px;
  }
  .review-header {
    font-size: 46px;
  }
  .finish-header {
    font-size: 48px;
    margin-left: 125px;
  }
  .subscribe__container {
    margin-left: 270px;
  }
  .container-footer {
    max-width: 960px;
  }
  .container-plane {
    max-width: 1200px;
  }
}
@media (max-width: 992px) {
  .header-hero {
    background-image: url(../img/Section.png);
  }
  .intro-title-1 {
    font-size: 56px;
    width: 408px;
    height: 335px;
    margin-left: -105px;
    margin-top: -60px;
  }
  .intro-title-2 {
    width: 408px;
    height: 108px;
    font-size: 18px;
    margin-top: 130px;
    margin-left: -100px;
  }
  .intro-items_part2-text {
    width: 688px;
  }
  .card {
    width: 213px;
    height: 368px;
  }
  .container_we {
    width: 860px;
  }
  .pretty {
    width: 525px;
  }
  .sakura__left {
    margin-left: 40px;
  }
  .skill {
    width: 332px;
    height: 200px;
  }
  .notacontainer_skillset {
    justify-content: space-evenly;
  }
  .left-side, .right-side {
    margin-left: -30px;
  }
  .plane-header {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
  }
  .plane-text {
    width: 304px;
    height: 189px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .follow-me, .line-2 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .plane {
    width: 480px;
  }
  .dribbble-img {
    width: 785px;
    height: 565px;
    padding-top: 0px;
  }
  .review-header {
    width: 346px;
    height: 198px;
  }
  .review-text {
    width: 332px;
    height: 81px;
  }
  .review-right {
    margin-top: 120px;
    margin-left: 0px;
  }
  .card-review-1 {
    width: 332px;
    height: 870px;
  }
  .card-review-2 {
    width: 332px;
    height: 720px;
  }
  .card-review-3 {
    width: 332px;
    height: 807px;
  }
  .review-img {
    width: 332px;
    height: 360px;
  }
  .review-card-text-1 {
    width: 269px;
    height: 324px;
    margin-bottom: 64px;
  }
  .review-card-text-2 {
    width: 269px;
    height: 174px;
    margin-bottom: 64px;
  }
  .review-card-text-3 {
    width: 269px;
    height: 261px;
    margin-bottom: 64px;
  }
  .name, .company {
    width: 264px;
    height: 27px;
  }
  .text {
    padding: 32px;
  }
  .photography__container {
    margin-left: 60px;
  }
  .jisoo {
    width: 332px;
    height: 420px;
  }
  .jennie {
    width: 332px;
    height: 420px;
  }
  .rosie {
    width: 332px;
    height: 420px;
  }
  .lisa {
    width: 332px;
    height: 420px;
  }
  .finish-header {
    width: 332px;
    height: 132px;
  }
  .finish-text {
    width: 332px;
    height: 81px;
  }
  .luv {
    width: 332px;
    height: 50px;
  }
  #message {
    width: 332px;
    height: 100px;
  }
  .start {
    width: 332px;
    height: 75px;
    padding: 25px 91px;
    margin-left: -190px;
  }
  .container-footer {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  .intro-title-1, .intro-title-2 {
    margin-left: -310px;
    margin-left: 40px;
  }
  .intro-items_part2-text {
    font-size: 55px;
  }
  .soc_network {
    width: 197px;
    height: 108px;
    margin-top: 10px;
  }
  .work-experiense_text {
    width: 197px;
    height: 96px;
  }
  .work-experiense_text-3 {
    width: 197px;
    height: 120px;
  }
  .container_we {
    width: 690px;
    height: 540px;
  }
  .intro-items_part1 {
    margin-left: 305px;
  }
  .pretty {
    width: 384px;
    height: 600px;
  }
  .sakura_header {
    width: 304px;
    height: 132px;
    font-size: 55px;
  }
  .sakura-text {
    width: 304px;
    height: 132px;
    margin-bottom: 67px;
  }
  .sakura__left {
    width: 384px;
  }
  .skillset-name {
    margin-left: 40px;
  }
  .skillset_text {
    width: 688px;
    margin-left: 40px;
  }
  .flexbox_skillset {
    margin-left: 40px;
  }
  .a-place-for-mom, .M {
    display: flex;
    width: 340px;
    height: 140px;
    border: 1px solid #181823;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .epic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
  .left-side, .right-side {
    margin-left: 40px;
  }
  .plane-left {
    margin-left: 40px;
  }
  .dribbble-header, .dribbble-text, .dribbble-btn, .line-3, .dribbble-img {
    margin-left: 40px;
  }
  .dribbble-section {
    margin-left: 0px;
  }
  .dribbble-img {
    width: 688px;
    height: 516px;
  }
  .review-left {
    margin-left: 40px;
  }
  .review-right {
    margin-left: -140px;
  }
  .photography__container {
    margin-left: 40px;
  }
  .photography-header, .photography-notaheader, .countries-italy, .jisoo, .jennie, .rosie, .lisa {
    margin-left: 0px;
  }
  .finish-header, .finish-text {
    margin-left: 40px;
  }
  .subscribe__container {
    margin-left: 24px;
    margin-top: 0px;
  }
  .finish-header {
    margin-top: 0px;
  }
  .subscribe {
    height: 117px;
  }
  .footer-left {
    margin-left: 40px;
  }
  .footer-grey-text {
    width: 324px;
    height: 48px;
  }
  .container-footer {
    margin: 0px;
    max-width: 767px;
  }
  .footer-nav-1 {
    margin-left: -90px;
  }
}
@media (max-width: 576px) {
  .f-logo {
    margin-right: 18px;
    margin-left: 40px;
  }
  .navbar {
    width: 440px;
  }
  .navbar-items {
    justify-content: space-evenly;
  }
  .intro-title-1 {
    width: 343px;
    font-size: 45px;
  }
  .intro-title-2 {
    width: 263px;
  }
  .intro-items_part1 {
    margin-left: 195px;
  }
  .intro-items_part2-text {
    width: 320px;
  }
  .container_we {
    display: block;
    flex-wrap: nowrap;
    height: 1192px;
    margin-left: 85px;
  }
  .card {
    width: 240px;
  }
  .sakura-container {
    flex-direction: column;
    width: 600px;
    height: 900px;
  }
  .sakura__left {
    margin-left: 130px;
  }
  .line {
    margin-bottom: 35px;
  }
  .pretty {
    width: 600px;
    height: 375px;
  }
  .skillset_text {
    width: 420px;
  }
  .notacontainer_skillset {
    justify-content: space-between;
  }
  .flexbox_skillset {
    margin-left: 40px;
  }
  .epic {
    width: 567px;
  }
  .card-CBRE, .card-EPIQ, .card-WTF, .card-LEAF, .a-place-for-mom, .M {
    width: 283px;
  }
  .big-header {
    width: 525px;
  }
  .card-project {
    width: 500px;
  }
  .pics {
    width: 500px;
    height: 560px;
  }
  .container-plane {
    flex-direction: column;
    height: 900px;
  }
  .plane {
    width: 600px;
    height: 375px;
  }
  .plane-left {
    margin-left: 70px;
  }
  .follow-me {
    margin-top: 67px;
  }
  .line-2 {
    margin-bottom: 35px;
  }
  .dribbble-text {
    width: 520px;
  }
  .dribbble-img {
    width: 500px;
    height: 516px;
  }
  .review-left {
    margin-top: 0px;
  }
  .review-right {
    margin-left: -522px;
    margin-top: 419px;
  }
  .review_container {
    height: 2896px;
  }
  .photography-header {
    margin-top: 80px;
  }
  .pictures {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .photography-notaheader {
    width: 530px;
  }
  .photography__container {
    height: 2198px;
  }
  .rosie {
    padding-bottom: 24px;
  }
  .buttons-container {
    max-width: 410px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .finish__container {
    flex-direction: column;
  }
  .finish-left {
    height: 205px;
  }
  .finish-header {
    width: 420px;
    height: 100px;
  }
  .subscribe__container {
    margin-left: 40px;
    margin-top: 0px;
  }
  .footer-grey-text {
    padding-top: 435px;
  }
  .footer-right {
    flex-direction: column;
    margin-top: 225px;
  }
  .footer-nav-1 {
    margin-left: -325px;
  }
  .footer-nav-2 {
    margin-left: -326px;
  }
}
@media (max-width: 480px) {
  .header-hero {
    background-image: url(../img/header-hero-media.png);
  }
  .navbar-link, .navbar-link-contact {
    display: none;
  }
  .navbar-link-burger {
    display: block;
  }
  .intro-title-1 {
    width: 360px;
    height: 117px;
    font-size: 32px;
    line-height: 38px;
    margin-top: 336px;
  }
  .intro-title-2 {
    width: 360px;
    height: 135px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 16px;
  }
  .intro-items_part1 {
    margin-left: 0px;
  }
  .Work_experience {
    margin-left: 0px;
  }
  .intro-items_part2-text {
    width: 320px;
    height: 117px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 0px;
  }
  .container_we {
    margin-left: 20px;
    height: 900px;
  }
  .card {
    width: 320px;
    height: 285px;
  }
  .intro-items_part2 {
    margin-left: 20px;
  }
  .card {
    width: 320px;
    height: 277px;
  }
  .soc_network {
    width: 320px;
    height: 45px;
    margin-top: 20px;
  }
  .sakura_header {
    font-size: 40px;
    margin-top: 48px;
  }
  .sakura-text {
    width: 320px;
    height: 189px;
    font-size: 18px;
  }
  .sakura__left {
    margin-left: 20px;
  }
  .sakura-container {
    height: 880px;
  }
  .skillset__container {
    height: 1348px;
  }
  .skillset-name {
    font-size: 40px;
    margin-top: 72px;
  }
  .skillset_text {
    width: 320px;
    height: 162px;
    font-size: 18px;
  }
  .epic {
    width: 480px;
  }
  .card-CBRE, .card-EPIQ, .card-WTF, .card-LEAF, .a-place-for-mom, .M {
    width: 180px;
  }
  .big-header {
    width: 320px;
    height: 78px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0px;
  }
  .card-project {
    width: 320px;
    height: 754px;
  }
  .pics {
    width: 320px;
    height: 400px;
  }
  .projects__container {
    flex-direction: column;
    margin-left: 20px;
  }
  .left-side, .right-side {
    margin-left: 0px;
  }
  .little-header, .big-header, .card-project {
    margin-left: 20px;
  }
  .plane-left {
    margin-left: 0px;
  }
  .plane-header {
    font-size: 40px;
    margin-right: 0px;
  }
  .plane-text {
    margin-right: 0px;
  }
  .dribbble-text {
    width: 320px;
    height: 108px;
  }
  .dribbble-img {
    width: 410px;
    height: 516px;
  }
  .photography-notaheader {
    width: 320px;
  }
  .buttons-container {
    max-width: 345px;
  }
  .dribbble-header, .dribbble-text, .dribbble-btn, .line-3, .dribbble-img {
    margin-left: 20px;
  }
  .photography__container {
    margin-left: 20px;
  }
  .pictures {
    margin-left: 0px;
  }
  .finish-header, .finish-text, .subscribe__container {
    margin-left: 20px;
  }
  .finish-text {
    margin-bottom: 48px;
    margin-top: 48px;
  }
  .finish-header {
    height: 39px;
    font-size: 40px;
  }
  .finish__container {
    height: 771px;
  }
}/*# sourceMappingURL=style.css.map */